.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    color: green;
}

.header__logo {
    overflow: hidden;
}

.header__logo img {
    max-width: 200px;
}

.header__nav {
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
    color: #3D3D3D;
}

.header__nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.login-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.login-button:hover {
    background-color: green;
}
.about__text {
    float: left;
    margin-right: 20px;
    text-align: justify;
}

.about__image {
    float: left;
    margin-right: 20px;
}

.line {
    width: 100%;
    background-color: lightgray;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 150px;
}
body {
    margin: 20px;
    font-family: Arial, "Comic Sans MS";
}

.item {
    width: 50%;
    display: inline-block;
    float: left;
}
.item_last-child {
    position: relative;
    top: -150px;
}
.shop-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
}

.shop-button:hover {
    color: #FFFFFF;
    background-color: green;
}
.gray-text {
    color: gray;
}
.header__btn {
    width: 100px;
    height: 35px;
    background-color: #46A358;
    color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    padding: 8px 7px 7px 15px;
}

.header__btn img {
    width: 20px;
    height: 20px;
}
.btn:hover {
    background-color: #36d755;
}

.header__nav a {
    color: #000000;
}

.header__btn a {
    color: #FFFFFF;
}

.shop-button a {
    color: #FFFFFF;

}