.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    color: black;
}

.header__logo {
    overflow: hidden;
}

.header__logo img {
    max-width: 200px;
}

.header__nav {
    font-weight: bold;
    flex-grow: 1; /* розтягнутий на весь вільний простір */
    text-align: center; /* вирівнювання тексту по центру */
}

.header__nav ul {
    display: flex;
    justify-content: center; /* вирівнювання елементів у центрі */
    gap: 20px;
}

.login-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.login-button:hover {
    background-color: green;
}
.about__text {
    float: left; /* Зміщення тексту вліво */
    margin-right: 20px; /* Відступ справа */
    text-align: justify; /* Вирівнюємо текст по центру */
}

.about__image {
    float: left;
    margin-right: 20px; /* Додатковий відступ між зображеннями */
}

.line {
    width: 100%; /* Задаємо ширину лінії на всю ширину */
    background-color: lightgray; /* Колір лінії */
    height: 1px; /* Товщина лінії */
    margin-top: 20px; /* Відступ від заголовка */
    margin-bottom: 150px; /* Відступ від контенту */
}
body {
    margin: 20px;
    font-family: Arial, "Comic Sans MS";
    }
.item {
    width: 50%;
    display: inline-block;
    float: left;
}
.item_last-child {
    position: relative; /* Встановлюємо позицію відносної */
    top: -150px; /* Піднімаємо вище на 20px */
}
.shop-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px; /* додатковий відступ від тексту */
}

.shop-button:hover {
    background-color: green;
}
.gray-text {
    color: gray;
}